TalkALot.xcodeproj/project.xcworkspace/xcuserdata/owillborn.xcuserdatad/UserInterfaceState.xcuserstate
# firebase
GoogleService-Info.plist# Xcode
## Build generated
build/
DerivedData/

## Various settings
*.xcuserdatad
*.xcscmblueprint
*.xcworkspace
!default.xcworkspace

## Personal settings
*.xcuserdata

## Shared settings
!default.xcsettings
!default.xcscheme

## Lock files
*.xcuserstate
*.xcshareddata

# Swift Package Manager
Packages/
.build/
.swiftpm/xcode/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Manifest.lock

# CocoaPods
Pods/
Podfile.lock
# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
*.ipynb

# firebase
GoogleService-Info.plist

# Bundler
.bundle

# SPM
.swiftpm/
.build/

# Archives
*.xcarchive

# Misc
*.ipa
*.dSYM.zip
*.dSYM
*.bcsymbolmap

# Markdown
*.md
